
<%- include("partials/header"); -%>
<h1>compose</h1>
<form class="" action="/compose" method="post">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" placeholder="type" name="title">
        <label>Post</label>
        <textarea class="form-control" cols="50" rows="4" name="post"> </textarea>
     
        <button type="submit" class="btn btn-success" style="margin-top: 6px;">SUBMIT</button>


    </div>

</form>
<%- include("partials/footer"); -%>
